* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cont-top-blu {
  background-color: #0282f9;
}
.cont-top-blu .cont-in-blu {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.cont-top-blu .cont-in-blu .txt-sx {
  text-transform: uppercase;
  margin-right: 30px;
}
.cont-top-blu .cont-in-blu .txt-dx {
  text-transform: uppercase;
}

.cot-bottom {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 11px;
}
.cot-bottom .menu li {
  display: inline-block;
}
.cot-bottom .menu li a {
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 20px;
  padding-bottom: 50px;
  color: black;
}

.hero {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/jumbotron.jpg");
}

.cont-meta {
  width: 80%;
  margin: auto;
  margin-top: -55px;
}
.cont-meta .meta {
  background-color: #0282f9;
  display: inline-block;
  padding: 5px;
}
.cont-meta .meta h2 {
  text-transform: uppercase;
  color: white;
}

.cont-footer-top {
  background-color: #0282f9;
  padding: 20px 0;
}
.cont-footer-top .cont-img {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-footer-top .cont-img .col {
  width: calc(20% - 20px);
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-footer-top .cont-img .col span {
  text-transform: uppercase;
  color: white;
  margin-left: 5px;
  font-size: 1.5em;
}
.cont-footer-top .cont-img .col img {
  width: 70px;
  height: 90px;
}

.cont-principale-fumetti {
  background-color: #1c1c1c;
  padding: 40px 0;
}
.cont-principale-fumetti .cont-fumetto {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.cont-principale-fumetti .cont-fumetto .fumetto {
  width: calc(16.6666666667% - 10px);
  margin: 20px 5px;
}
.cont-principale-fumetti .cont-fumetto .fumetto a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.cont-principale-fumetti .cont-fumetto .fumetto a h2 {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.color_white {
  color: white;
}

.color_white2 {
  color: rgba(255, 255, 255, 0.514);
}

.color_gray {
  color: rgba(0, 0, 0, 0.507);
}

.color_blu {
  color: #0282f9;
}

.d-flex {
  display: flex;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.p-10 {
  padding: 15px 0;
}

.bold {
  font-weight: bold;
}

.b-top {
  border-top: 1px solid rgba(0, 0, 0, 0.329);
}

.b-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}

.fs-1 {
  font-size: 1.3em;
}

.container {
  background-color: #0282f9;
  height: 100px;
  position: relative;
}
.container .cont_singolo_fumetto {
  position: absolute;
  top: -230px;
  left: 350px;
}

.cont_descrizione {
  width: 70%;
  margin: auto;
  display: flex;
  padding: 30px;
  justify-content: center;
}
.cont_descrizione .col_1 {
  width: 70%;
  margin-right: 40px;
}
.cont_descrizione .col_1 .titolo {
  font-size: 2.5em;
}
.cont_descrizione .col_1 .descrizione {
  font-size: 1.3em;
  text-align: justify;
}

.cont_price .disponibile {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  background-color: #55ba59;
  margin: 20px 0px;
}
.cont_price .disponibile .prezzo {
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.507);
}
.cont_price .disponibile .controllo_disponibile {
  width: 35%;
  text-align: center;
  padding: 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.507);
}
.cont_price .disponibile .controllo_disponibile .freccia {
  font-size: 0.7em;
}

.col_2 {
  width: 30%;
}
.col_2 img {
  width: 100%;
}
.col_2 h2 {
  text-align: right;
}

.container_2 {
  background-color: #f6f6f6;
}
.container_2 .cont_principale_artisti {
  width: 70%;
  margin: auto;
  display: flex;
}
.container_2 .cont_principale_artisti .cont_artisti {
  width: 50%;
  padding: 20px;
}
.container_2 .cont_principale_artisti .cont_artisti h2 {
  padding-bottom: 30px;
}
.container_2 .cont_principale_artisti .cont_artisti .artisti {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.329);
}
.container_2 .cont_principale_artisti .cont_artisti .artisti .col_3 {
  width: 40%;
}
.container_2 .cont_principale_artisti .cont_artisti .artisti .col_4 {
  width: 60%;
}
.container_2 .cont_principale_artisti .cont_artisti .artisti .col_4 a {
  text-decoration: none;
  font-weight: bold;
  color: #0282f9;
}
.container_2 .cont_principale_artisti .cont_artisti .scrittori {
  border-top: 1px solid rgba(0, 0, 0, 0.342);
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
  padding: 10px 0;
  display: flex;
}
.container_2 .cont_principale_artisti .cont_artisti .scrittori .col_3 {
  width: 40%;
}
.container_2 .cont_principale_artisti .cont_artisti .scrittori .col_4 {
  width: 60%;
}
.container_2 .cont_principale_artisti .cont_artisti .scrittori .col_4 a {
  text-decoration: none;
  font-weight: bold;
  color: #0282f9;
}
.container_2 .cont_principale_artisti .cont_specifiche {
  width: 50%;
  padding: 20px;
}
.container_2 .cont_principale_artisti .cont_specifiche h2 {
  padding-bottom: 30px;
}