.cont-footer-top{
    background-color: #0282f9;
    padding: 20px 0;
    .cont-img{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .col{
           width: calc((100%/5) - 20px);
            margin: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                text-transform: uppercase;
                color: white;
                margin-left: 5px;
                font-size: 1.5em;
            }
            img{
                width: 70px;
                height: 90px;
            }
        }
    }
}