a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
}
ul{
    list-style-type: none;
}
.cont_footer_principale{
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cont-logo-big{
    width: 50%;
    .logo-big{
        height: 300px;
        
        position: relative;
        img{
            position: absolute;
            height: 480px;
            top: -80px;
            left: 60%;
        }
    }
    
}