.cont-top-blu{
    background-color: #0282f9;
    .cont-in-blu{
        width: 80%;
        display: flex;
        justify-content:flex-end;
        color: white;
        .txt-sx{
            text-transform: uppercase;
            margin-right: 30px;
        }
        .txt-dx{
            text-transform: uppercase;
        }
    }
}
.cot-bottom{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 11px;
    .menu{
        li{
            display: inline-block;
            a{
                text-decoration: none;
                font-size: 1.5em;
                text-transform: uppercase;
                font-weight: bold;
                padding: 0px 20px;
                padding-bottom: 50px;
                color: black;
            }
        }
    }
}
.hero{
    
    height: 500px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/jumbotron.jpg');

}
.cont-meta{
    width: 80%;
    margin: auto;
    margin-top: -15px;
    margin-bottom: -25px;
    .meta{
        background-color: #0282f9;
        display: inline-block;
        padding: 5px;
        h2{
            text-transform: uppercase;
            color: white;
        }
    }
}