.uppercase{
    text-transform: uppercase;
}

.color_white{
    color: white;
}
.color_white2{
    color: rgba(255, 255, 255, 0.514);
}
.color_gray{
    color: rgba(0, 0, 0, 0.507);
}
.color_blu{
    color: #0282f9;
}
.d-flex{
    display: flex;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-80{
    width: 80%;
    margin: auto;
}
.p-10{
    padding: 15px 0;
}
.p-10-x{
    padding: 0 30px;
}
.m-10-x{
    margin-right:100px;
    width: 100%;
}
.p-y-5{
    padding: 5px 0;
}
.bold{
    font-weight: bold;
}
.b-top{
    border-top: 1px solid rgba(0, 0, 0, 0.329);
}
.b-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}

.fs-1{
    font-size: 1.3em;
}
